<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <form class="newteam" action="/newteam" method="post">
      <p> Teamname <input type="text" name="Team name" id="name" value="<%= params[:Teamname]%>"></p>
      <p>Coach <input type="text" name="Coach" id="coach" value=""></p>
      <p>Point Guard <input type="text" name="Point Guard" id="pg" value=""></p>
      <p>Shooting Guard <input type="text" name="Shooting Guard" id="sg" value=""></p>
      <p>Power Forward <input type="text" name="Power Forward" id="pf" value=""></p>
      <p>Small Forward <input type="text" name="Small Forward" id="sf" value=""></p>
      <p>Center <input type="text" name="Center" id="c" value=""></p>
      <p> <input type="submit" name="submit" id="submit" ></p>


   </form>


 </body>
</html>


<form class="newteam" action="/newteam" method="post">
   <p> Team name <input type="text" name="Team name" id="name" value=""></p>
   <p>Coach <input type="text" name="Coach" id="coach" value=""></p>
   <p>Point Guard <input type="text" name="Point Guard" id="pg" value=""></p>
   <p>Shooting Guard <input type="text" name="Shooting Guard" id="sg" value=""></p>
   <p>Power Forward <input type="text" name="Power Forward" id="pf" value=""></p>
   <p>Small Forward <input type="text" name="Small Forward" id="sf" value=""></p>
   <p>Center <input type="text" name="Center" id="c" value=""></p>
   <p> <input type="submit" name="submit" id="submit" ></p>


</form>
